<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- dtd는 xml문서의 유효성 체크를 위해 존재함 -->
  
  
<configuration>
	<environments default="development"> <!-- environments 요소는 트랜잭션 관리와 커넥션 풀링을 위한 환경적인 설정 -->
		<environment id="development">
			<transactionManager type="JDBC" />  <!-- 트랜잭션 매너지는 JDBC 형을 씀, DBCP도 있음 -->
			<dataSource type="POOLED"> <!-- Polling 할 커넥션 db는 아래와 같음 -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers> <!-- SQL코드와 맵핑 정의를 가지는 XML파일 목록 -->
		<mapper resource="kr/co/tlab/mybatisMapper/NoticeMapper.xml" />
	</mappers>
</configuration>