<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">

	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driver" value="com.mariadb.jdbc.Driver"/>
		<property name="url" value="jdbc:driver://localhost:3306/study_todolist"/>
		<property name="username" value="admin"/>
		<property name="password" value="admin"/>
	</bean>
	
</beans>
